@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root{
    outline: none;
    -webkit-font-smoothing: antialiased;
}

*,*::before,*::after{
    box-sizing: border-box;
}

html,body{
    height:100%;
}

body {
    display: grid;
    grid-template-columns: 20% 70%;
    background-color: #fff;
    font-family: "Inter", "sans-serif";
    margin:0;
}

@media screen and (max-width:1805px){
    body{
        grid-template-columns: 20% 80%;
    }
}

@media screen and (max-width:1579px){
    body{
        grid-template-columns: 10% 90%;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom:50px;
    margin-left:auto;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #94918f;
    padding-right: 20px;
    min-height: 350px;
}

.menu-name {
    display: flex;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: #161419;
}

@media screen and (max-width:1028px){
    .menu-name span{
        display: none;
    }

    body {
        grid-template-columns: 11% 89%;
        grid-template-rows: 100%;   
    }

    .menu{
        padding-right:0px;
    }

    .menu-name img{
        margin-left:20px;   
    }
}

.menu-name img{
    margin-right:10px;
    height:20px;
}

.menu-name:hover{
    text-decoration: none;
    color:rgb(36, 91, 149)
}

.menu-name + .menu-name {
    margin-top: 20px;
}

.menu-name.mention {
    margin-top: auto;
}

@media screen and (max-width:1137px){
    .menu{
        padding-right:10px; 
    }
}

.menuprivacy{
    display: none;
}

.menuprivacy img{
    margin-top:20px;
}

@media screen and (max-width:1028px){
    .menuprivacy{
        display: contents;
    }
}

.blog {
    display: flex;
    flex-direction: column;
    height:100vh;
}

.main-header{
    height:5rem;
    border-bottom: 1px solid #94918f;
    margin-left:50px;
    margin-right:50px;

}

.header {
    font-size: 45px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    /*line-height: 1;*/
    padding-top:10px;   
    padding-bottom:10px;
    text-align: center;
}

.header-image{
    height: 65px;
    display: block;
    margin: 10px auto;
    object-fit: cover;
    /*max-height: 22vh;*/
}

.language{
    margin-top:30px;
    margin-left:50px;
}

.tags{
    margin-top:30px;
    margin-left:auto;

}

.tag{
    margin-right: 2px;
    padding: 4px 10px;
    color: #FFF;
    background: #9fade3;
    font-size: 80%;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.blog-right-container{
    display: flex;
    flex-direction: column;
}

.blog-main, .about-main, .project-main, .volunteerpage-main, .article-main{
    display: grid;
    grid-template-columns: 65% 35%;
    height:calc(100vh - 5rem);
    padding-left: 50px;
    padding-top: 20px; 
}

@media screen and (max-width:1028px){
    .blog-right-container{
        display: none;
    }

    .blog-main, .about-main, .project-main, .volunteerpage-main, .article-main{
        display: grid;
        grid-template-columns: 100%;
    }

    .container{
        margin-left: 20px;
    }
}

.privacy-main{
    display: grid;
    grid-template-columns: 100%;
}

.privacy-container{
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height:calc(100vh - 5rem);
}

.blog-container, .about-container, .old-projects, .volunteerpage-container, .article-container{
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #94918f;
    padding-bottom:50px;
}

@media screen and (max-width:1028px){
    .blog-container{
        border-style:none;
    }

    .about-container, .article-container{
        border-style: none;
    }

    .old-projects{
        border-style: none;
    }

    .volunteerpage-container{
        border-style: none;
    }
}

.container{
    margin-right:50px; 
}

@media screen and (max-width:660px){
    .container{
        margin-right:20px;
    }

}

@media screen and (max-width:540px){
    .container{
        margin-right:10px;
    }
}

.container img {
    border-radius: 10px;
    height: 40vh;
    /*max-height: 22vh;*/
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:850px){
    .container img{
        height: 20vh;
    }
}

@media screen and (max-width:540px){
    .container img{
        height: 15vh;
    }
}

.container:not(:first-child) img{
    margin-top:20px;
}

.container h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0 8px;
}

@media screen and (max-width:660px){
    .container h2{
        font-size:20px;
    }
}

.container h2 span {
    font-family: "Roboto","Inconsolata";
}

.container-detail{
    display: flex;
    flex-direction: row;
}

.reading-time{
    display: inline-block;
    margin-left:auto;
}

@media screen and (max-width:660px){
    .reading-time{
        display: none;
    }

}

.container p {
    line-height: 1.5;
    margin: 14px 0;
}

.container a {
    color: #161419;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: -1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    border-bottom: 1px solid #94918f;
    padding-top: 14px;
    padding-bottom:14px;
}

.container a svg {
    width: 20px;
    margin-right: 10px;
}

.about-header, .volunteerpage-header{
    font-size: 20px;
    color:rgb(36, 91, 149);
    letter-spacing: -1px;
}

.volunteers, .newprojects{
    height: 810px;
    width: 100%;
    overflow: scroll;
    margin-left:20px;
}

.right-containers, .volunteer-list, .old-projects, .newprojects{
    display: flex;
    flex-direction: column;
}

.right-containers{
    overflow: auto;
    height:calc(100vh - 250px);
    padding-bottom:20px;
}

.right-container img{
    border-radius: 10px;
    height: 15vh;
    /*max-height: 22vh;*/
    width: 100%;
    object-fit: cover;
}

.right-container{
    padding-left:20px;
    padding-right:55px;
    border-bottom:1px solid #94918f;
}

@media screen and (max-width:1405px){
    .right-container{
        margin-right: 20px;
    }
}

@media screen and (max-width:1294px){
    .right-container{
        margin-right: 5px;
    }
}

.right-container:not(:first-child){
    margin-top:10px;
}

.right-blog{
    font-size:14px;
}

.container-detail-right span{
    font-size:14px;
    padding-right:10px;
}

.about-paragraph{
    margin-right:20px;
}

.mobile-volunteers{
    display: none;
}

@media screen and (max-width:1028px){
    .mobile-volunteers{
        display:contents;
    }

    .volunteers{
        display:none;
    }
}

.sponsors{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width:1252px){
    .sponsors{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:1028px){
    .sponsors{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width:848px){
    .sponsors{
        display: flex;
        flex-direction: column;
    }
}

.volunteer{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:1247px){
    .volunteer{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:1028px){
    .volunteer{
        display: flex;
        flex-direction: row;
    }

    .volunteer + .volunteer{
        margin-top:10px;
    }

}

@media screen and (max-width:505px){
    .volunteer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.right-header{
    font-size: 20px;    
    margin: 10px 0 8px;
}

@media screen and (max-width:1247px){
    .right-header{
        font-size:18px;
    }
}

@media screen and (max-width:1137px){
    .right-header{
        font-size:16px;
    }
    .right-blog{
        font-size:12px;
    }
    .container-detail-right span{
        font-size:12px;
    }

}

@media screen and (max-width:1168px){
    .container-detail-right span + span{
        display: none;
    }
}
.volunteer-image{
    border-radius: 10px;
    height:200px;
    width:200px;
    object-fit: cover;
}

.volunteer-detail{
    margin-bottom:20px;
    margin-left:20px;
}


@media screen and (max-width:1805px){
    .volunteer-detail{
    margin-right:20px;
    }

    .volunteer-paragraph{
        margin-right: 20px;
    }
}


@media screen and (max-width:1247px){

    .volunteer-detail{
        margin-left:0px;
    }
}

@media screen and (max-width:1028px){
    .volunteer-detail{
        margin-left:20px;

    }
}

.supporters-paragraph{
    margin-bottom:0.3px;
}

.old-project{
    display: flex;
    justify-content:center;
    text-align: center;
    margin-right:50px;
    height: 100vh;
    border-radius: 10px;
    align-items: center;
    background-color:#f9f9f9;
}

@media screen and (max-width:1028px){
    .newprojects{
        display:none;
    }
}

.newproject-image{
    height: 500px;
    width: 80%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    /*max-height: 22vh;*/
}

.newproject-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.newproject-name + p {
    margin-right:50px;
}

.mobile-newprojects{
    display:none;   
}

@media screen and (max-width:1028px){
    .mobile-newprojects{
        display: contents;
    }
}

.takvim{
    display: flex;
    /*grid-template-columns:10% 10% 10% 10% 10% 10% 10% ;*/
    flex-direction: row;
}

.takvim-column{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align:center;
}

.days{
    margin-top:10px;
}

.days.header{
    font-size: 20px;
}

.days.old{
    color:#d4dade;
}

.days.selected{
    border-radius: 50px;
    background-color:#91adca;  
}

.mobile-calendar{
    display: none;
}

@media screen and (max-width:1028px){
    .mobile-calendar{
        display: contents;
    }
}

.teams{
    margin-right:20px;
}

.volunteerpage-container p {
    margin-right:20px;
}

.ayrac{
    display: grid;
    grid-template-columns: 50% 50%;
}

.ayrac p{
    margin-right: 10px;
}

@media screen and (max-width:667px){
    .ayrac{
        display: grid;
        grid-template-columns: 100%;
    }   
}

@media screen and (max-width:1292px){
    .volunteers iframe{
        width: 350px;
    }
}

@media screen and (max-width:1195px){
    .volunteers iframe{
        width: 325px;
    }
}

@media screen and (max-width:1125px){
    .volunteers iframe{
        width: 300px;
    }
}

.mobile-formadress{
    text-decoration: none;
}

.mobile-formpage{
    display: none;
}

@media screen and (max-width:1028px){
    .mobile-formpage{
        display: contents;
    }
}

.privacy-main{
    margin-left:50px;
}

.creative-commons{
    padding-top: 10px;
    padding-left:20px;
    padding-right: 50px;
    /* padding-bottom: 10px; */
    font-size:14px;
    /* border-bottom: 1px solid #94918f; */
}
.creative-commons + .creative-commons{
    padding-top: 10px;
}

.link{
    color: #000;
    text-decoration: none;
}

.link:hover{
    color:rgb(36, 91, 149)
}

.powr-comments{
    width:80%;
    height:500px;
}

.article-main{
    margin-right: 50px;
}

.article-img{
    height: 40vh;
    /*max-height: 22vh;*/
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

::-webkit-scrollbar{
    display: none;

}