@import url("stylemain.css");

.a-main{
    display: grid;
    grid-template-columns: 65% 35%;
    height:calc(100vh - 5rem);
    padding-left: 50px;
    padding-top: 20px; 
    height:calc(100vh - 8rem);
}

@media screen and (max-width:1028px){
    .a-main{
        display: grid;
        grid-template-columns: 100%;
    }

    .main-header{
        width:calc(100% - 100px);
    }
}

@media screen and (max-width:680px){
    .menu{
        margin:0;
        height:100%;
        font-size: 8px;
        max-width: 30px;
        border-radius: 0%;
    }
}

.old-as{
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom:50px;
}

@media screen and (max-width:1028px){
    .old-as{
        border-style: none;
    }
}

.about-header{
    font-size: 20px;
    color:rgb(36, 91, 149);
    letter-spacing: -1px;
}
.old-alist{
    display: flex;
    /*justify-content:center;*/
    /*text-align: center;*/
    padding-left:20px;
    margin-right:50px;
    height: 7vh;
    border-radius: 10px;
    align-items: center;
    background-color:#f9f9f9;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width:1028px){
    .newas{
        display:none;
    }
}

.itemcalendar{
    border-radius: 10px;
    background-color:#f9f9f9;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    padding:20px;
}

@media screen and (max-width:1028px){
    .itemcalendar{
        margin-right:50px;
    }
}

@media screen and (max-width:480px){
    .itemcalendar{
        background-color:transparent;
        box-shadow:none;
        padding:0;
    }
}

.new-act p{
    border-radius: 10px;
    background-color:#f9f9f9;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    padding:20px;
    margin-bottom:10px;
}

@media screen and (max-width:1028px){
    .new-act p{
        margin-right:50px;
    }
}

.newas{
    height:calc(100% - 1rem);
    width: 95%;
    overflow: hidden;
    margin-left:20px;
    padding-left:20px;
}

.takvim{
    display: flex;
    /*grid-template-columns:10% 10% 10% 10% 10% 10% 10% ;*/
    flex-direction: row;
}

.takvim-column{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align:center;
}

.days{
    margin-top:10px;
}

.days.header{
    font-size: 20px;
}

.days.old{
    color:#d4dade;
}

.days.selected{
    border-radius: 50px;
    background-color:#91adca;  
}

.mobile-calendar{
    display: none;
}

@media screen and (max-width:1028px){
    .mobile-calendar{
        display: contents;
    }
}

.teams{
    margin-right:20px;
}

