@import url("stylemain.css");

.author-main{
    display: grid;
    grid-template-columns: 65% 35%;
    height:calc(100vh - 5rem);
    padding-left: 50px;
    padding-top: 20px; 
}

@media screen and (max-width:1028px){
    .author-main{
        display: grid;
        grid-template-columns: 100%;
    }
}

.author-right{
    display: flex;
    flex-direction: column;
}

.author-left{
    text-align: center;
    align-items: center;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #c0c3c7;
    padding-bottom:50px;
    padding-right:50px;
}

@media screen and (max-width:1028px){
    .author-right{
        display: none;
    }   

    .author-left{
        border-style:none;
    }
}

.about-header{
    font-size: 20px;
    color:rgb(36, 91, 149);
    letter-spacing: -1px;
}

.volunteer-image{
    border-radius: 10px;
    height:300px;
    width:300px;
    object-fit: cover;
}

.author-right{
    padding-left:20px;
    font-size:14px;
}

.right-containers{
    overflow: auto;
    height:calc(100vh - 250px);
    padding-bottom:20px;
}

.right-container img{
    border-radius: 10px;
    height: 15vh;
    /*max-height: 22vh;*/
    width: 100%;
    object-fit: cover;
}

.right-container{
    padding-right:55px;
    border-bottom:1px solid #c0c3c7;
}

@media screen and (max-width:1405px){
    .right-container{
        margin-right: 20px;
    }
}

@media screen and (max-width:1294px){
    .right-container{
        margin-right: 5px;
    }
}

.right-container:not(:first-child){
    margin-top:10px;
}

@media screen and (max-width:1405px){
    .right-container{
        margin-right: 20px;
    }
}

@media screen and (max-width:1294px){
    .right-container{
        margin-right: 5px;
    }
}

@media screen and (max-width:1247px){
    .right-header{
        font-size:18px;
    }
}

@media screen and (max-width:1137px){
    .right-header{
        font-size:16px;
    }
    .author-right{
        font-size:12px;
    }
}

@media screen and (max-width:460px){
    .volunteer-image{
        height:200px;
        width:200px;
    }

    .author-left p{
        font-size:15px;
    }
}