@import url("stylemain.css");

.a-main{
    display: grid;
    grid-template-columns: 65% 35%;
    height:calc(100vh - 5rem);
    padding-left: 50px;
    padding-top: 20px; 
}

@media screen and (max-width:1028px){
    .a-main{
        display: grid;
        grid-template-columns: 100%;
    }
}

.old-as{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom:50px;
}

@media screen and (max-width:1028px){
    .old-as{
        border-style: none;
    }
}

.about-header{
    font-size: 20px;
    color:rgb(36, 91, 149);
    letter-spacing: -1px;
}
.old-alist{
    display: flex;
    /*justify-content:center;*/
    /*text-align: center;*/
    padding-left:20px;
    margin-right:50px;
    height: 7vh;
    border-radius: 10px;
    align-items: center;
    background-color:#f9f9f9;
}

@media screen and (max-width:1028px){
    .newas{
        display:none;
    }
}

.newas{
    height: 810px;
    width: 100%;
    overflow: hidden;
    margin-left:20px;
}

.takvim{
    display: flex;
    /*grid-template-columns:10% 10% 10% 10% 10% 10% 10% ;*/
    flex-direction: row;
}

.takvim-column{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align:center;
}

.days{
    margin-top:10px;
}

.days.header{
    font-size: 20px;
}

.days.old{
    color:#d4dade;
}

.days.selected{
    border-radius: 50px;
    background-color:#91adca;  
}

.mobile-calendar{
    display: none;
}

@media screen and (max-width:1028px){
    .mobile-calendar{
        display: contents;
    }

	.main-header{
        width:calc(100% - 100px);
    }
	.box{
		width:90%;
	}
}

@media screen and (max-width:680px){
    .menu{
        margin:0;
        height:100%;
        font-size: 8px;
        max-width: 30px;
        border-radius: 0%;
    }
}

.teams{
    margin-right:20px;
}

/*-----LOGİN--------*/

.box{
	position: relative;
	width: 95%;
	height: 50%;
	background: transparent;
	border-radius: 8px;
	overflow: hidden;
}

.box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,rgb(36, 91, 149),rgb(36, 91, 149));
	animation: animate 6s linear infinite;
}

.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,rgb(36, 91, 149),rgb(36, 91, 149));
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

form 
{
	position: absolute;
	inset: 2px;
	background: #f9f9f9;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 20px;
}

.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: rgb(36, 91, 149);
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}

input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background:rgb(36, 91, 149);
	cursor: pointer;
	border-radius: 4px;
    color : #ffff;
	font-weight: 600;
	width: 50%;
	margin-top: 10px;
    position: center;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}

@media screen and (max-width:1061px){
    form{
        padding: 20px 20px;
       } 
}

@media screen and (max-width:1028px){
    .box{
        width: 95%;
    }
}

@media screen and (max-width:570px){
   form{
    padding: 25px 20px;
   } 
}

@media screen and (max-width:400px){
    form{
     padding: 20px 20px;
    } 
 }